@import '../../index.scss';

.header-container {
    * {
        transition: all .3s ease-in-out;
    }

    padding: 20px 105px;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .zag {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        div {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;

            img:last-child {
                transform: translateX(100%) scale(0);
            }
        }

        h2 {
            text-decoration: none;
            font-family: 'Work Sans';
            color: $white-color;
            font-weight: 500;
        }

        &:hover {
            filter: drop-shadow(3px 3px 3px $purple-color);


            div {

                img:first-child {
                    transform: translateX(-100%) scale(0);
                }

                img:last-child {
                    transform: translateX(-35px) scale(1);
                    filter: drop-shadow(50px 50px 50px $purple-color);
                }
            }
        }
    }

    .header-buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            font-family: 'Work Sans';
            color: $white-color;
            font-weight: 600;
            font-size: 16px;
            padding: 12px 20px;
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            cursor: pointer;
            border-radius: 20px;

            &:hover {
                background-color: $purple-color;
                box-shadow: 5px 5px 30px $purple-color;
            }
        }

        a:last-child {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            background-color: $purple-color;
            border-radius: 20px;

            &:hover {
                box-shadow: 5px 5px 30px $purple-color;
            }
        }
    }

    
    .burger-menu {
        display: none;
    }
}

@media (max-width: 1280px) {
    .header-container {
        padding: 20px 30px;
    }

}

@media (max-width: 865px) {
    .header-container {
        padding: 20px 30px;


        .header-buttons {
            display: none !important;
        }


        .burger-menu {
            width: 50px;
            display: flex;


            .poloski {
                top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 6px;
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 20px;
                z-index: 51;

                div {
                    height: 3px;
                    width: 30px;
                    background-color: white;
                }
            }

            .sign-UI {
                transform: translateY(-100%) scale(0);
            }
        }

        .burger-menu.active {
            height: 100vh;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            position: fixed;
            gap: 25px;
            width: 100%;
            z-index: 59;
            background-color: rgba(43, 43, 43, 0.2);


            .poloski {
                top: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 6px;
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 20px;
                z-index: 51;

                div:nth-child(1) {
                    transform: rotate(40deg) translateY(10px) translateX(2px);
                }

                div:nth-child(2) {
                    transform: scale(0);
                }

                div:nth-child(3) {
                    transform: rotate(-40deg) translateY(-10px) translateX(2px);
                }

            }

            .sign-UI {
                width: 200px;
                padding: 100px 20px 0;
                display: flex;
                flex-direction: column;
                gap: 25px;
                background-color: $bg-grey;
                position: absolute;
                height: 100vh;
                right: 0;
                transform: translateY(0) scale(1);

                a {
                    padding: 10px 20px;
                    text-decoration: none;
                    font-family: 'Work Sans';
                    font-weight: 600;
                    font-size: 18px;
                    color: $white-color;
                    border-radius: 10px;
                    background-color: $purple-color;
                    text-align: center;

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 5px 5px 40px $purple-color;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .zag {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


@media (max-width: 550px) {
    .zag {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 18px;
        }
    }
}

@media (max-width: 395px) {

    .zag {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 18px;
        }
    }
}